/* Шрифты общие */
@font-face { 
  font-family: "Montserrat-L";
  src: url(fonts/Montserrat-Light.ttf) format("truetype");
}
@font-face { 
  font-family: "Montserrat-R";
  src: url(fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face { 
  font-family: "Montserrat-B";
  src: url(fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face { 
  font-family: "Roboto-L";
  src: url(fonts/Roboto-Light.ttf) format("truetype");
}
@font-face { 
  font-family: "Roboto-R";
  src: url(fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face { 
  font-family: "Roboto-B";
  src: url(fonts/Roboto-Bold.ttf) format("truetype");
}

/* fontawesome 6 */
@font-face { 
  font-family: "fa-solid";
  src: url(./fonts/fa-solid-900.ttf) format("truetype");
}
@font-face { 
  font-family: "fa-solid";
  src: url(./fonts/fa-brands-400.ttf) format("truetype");
}

ul.fontawesome {
  list-style: none;
}
ul.fontawesome i {
  font-family: "fa-solid";
}

/* Стили общие */
html, body {
  min-height: 100%;
  font-family: "Roboto-R";
  font-size: 10px;
  line-height: 1.0;
}
h1, h2, h3, p, span, menu, li {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  display: block;
}
h1 {
  margin-bottom: 1.5rem;
  color: white;
  font-family: "Montserrat-B";
  font-size: 3.0rem;
  line-height: 1.5;
}
h1+p {
  margin-bottom: 3.5rem;
  color: white;
  font-family: "Montserrat-R";
  font-size: 1.8rem;
  line-height: 1.5;
}
h2 {
  margin-bottom: 1.5rem;
  color: #494d55;
  font-family: "Montserrat-L";
  font-size: 3.6rem;
}
h2+p {
  margin-bottom: 6.0rem;
  color: #a2a6af;
  font-family: "Roboto-R";
  font-size: 1.6rem;
  line-height: 1.5;
}
h3 {
  margin-bottom: 2.0rem;
  color: #40babd;
  font-family: "Montserrat-B";
  font-size: 1.8rem;
  line-height: 1.5;
}
p {
  color: #616670;
  font-family: "Roboto-R";
  font-size: 1.4rem;
  line-height: 1.5;
}
menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}
menu li {
  list-style: none;
}
menu span {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Roboto-B";
  font-size: 1.6rem;
}
menu span:hover {
  color: rgba(255, 255, 255, 1.0);
  cursor: pointer;
}
button {
  width: 15.0rem;
  height: 5.0rem;
  color: white;
  background: #40babd;
  border: 1px solid #40babd;
  border-radius: 5px;
  font-family: "Montserrat-B";
  font-size: 1.6rem;
}

/* классы вне контекста */
.area-11 {
  max-width: 70.0rem;
  margin: 0 auto;
  text-align: center;
}

/* Стили контекстные */
header {
  min-height: 56.0rem;
  color: white;
  background: transparent url(./images/hero-1.jpg) no-repeat;
  background-size: cover;
}
header .area-10 {
  min-height: 6.0rem;
  margin: 0 0 6.0rem 0;
  display: flex;
  align-items: center;
  font-size: 3.0rem;
}
header .area-11 {
  margin: 0 1.0rem 0 0;
}
header .area-12 {
  font-family: "Montserrat-B";
  text-transform: uppercase;
}
header .area-13 {
  font-family: "Montserrat-L";
  text-transform: uppercase;
}
header .area-20 {
  max-width: 51.0rem;
}
header .area-30 {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

section {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 9.0rem 0 3.0rem 0;
}

section.s01 {
  background: transparent;
  background-size: cover;
}
.s01 .area-10 > div {
  margin-bottom: 6.0rem;
}
.s01 .area-12 {
  max-width: 70.0rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.s01 .area-12 img {
  margin: 0 1.0rem;
}
.s01 .area-13 {
  max-width: 35.0rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: center;
}
.s01 .area-13 > div {
  min-height: 18.0rem;
}

section.s02 {
  background: #40babd url('/images/map.png') no-repeat center center;
  background-size: cover;
}
section.s03 {
  background: transparent;
  background-size: cover;
}
.s03 .area-12 li {
  margin: 2.0rem 0;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.s03 .area-12 span {
  margin-left: 1.0rem;
  color: #616670;
  font-family: "Roboto-R";
  line-height: 1.5;
}

section.s04 {
  background: #f5f5f5;
  background-size: cover;
}
.s04 .area-12 {
  max-width: 72.0rem;
  margin: 0 auto 6.0rem auto;
}
.s04 .area-13 {
  box-sizing: border-box;
  max-width: 45.0rem;
  min-height: 100%;
  margin: 0 auto;
  padding: 3.0rem;
  border-radius: 1.0rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.s04 .area-13 img {
  margin-bottom: 1.0rem;
  max-width: 15.0rem;
}
.s04 .area-13 .fontawesome {
  display: flex;
}
.s04 .area-13 .fontawesome li {
  margin: 1.0rem;
  font-size: 1.6rem;
}

section.s05 {
  background: transparent;
  background-size: cover;
}
section.s05 .area-20 h3 {
  margin-bottom: 6.0rem;
  color: white;
}
section.s05 .area-20 span {
  margin-bottom: 3.0rem;
  font-size: 8.0rem;
  color: white;
}
section.s05 .area-20 p {
  margin-bottom: 1.0rem;
  color: white;
}
section.s05 .area-20 a {
  color: white;
  margin-bottom: 8.0rem;
  font-size: 1.5rem;
}

section.s05 .area-20 > div {
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding: 2.0rem;
  border-radius: 1.0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.s05 .area-21 {
  background: #75c181;
}
section.s05 .area-22 {
  background: #58bbee;
}
section.s05 .area-23 {
  background: #F8A13F;
}